* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #76d4ff;
    /* Dropdown button text */
    --text-primary: #19adf7;
    /* Dropdown options text */
    --text-secondary: #757575;
    /* Border and hover color */
    --highlight: #00aef2;
    font-size: large;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--background);
    padding-top: 2%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dropbtn {
    font-size: 1rem;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    min-width: 30ch;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid var(--highlight);
    background-color: white;
}

.dropbtn:hover {
    cursor: pointer;
}

.drop-text,
.drop-arrow {
    color: var(--text-primary);
    font-weight: bold;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    text-decoration: none;
    color: var(--text-secondary);
    padding-left: 1em;
    line-height: 3em;
}

.dropdown-content a:hover {
    color: white;
    background-color: var(--highlight);

}

.hidden {
    display: none;
}